#InGameHUD {
    z-index: 100;
}

/* ============================ Bottom HUD ============================  */
.bottom-HUD {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    min-width: 100px;
    /* height: 100px; */
    padding: 5px;
    margin-bottom: 10px;
    background-color: #111c;
    border-radius: 5px;
    border-top-left-radius: 50px;
    border: solid 2px #fff3;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.bottom-HUD .champion-avatar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #aaa;
}

.champion-avatar {
    position: relative;
}

.champion-avatar .revive-counter {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1119;
    text-align: center;
    line-height: 80px;

    color: #eee;
    font-size: 1.5em;
    font-weight: bold;
}

.champion-details {
    margin-left: 10px;
}

/* =============== Spells =============== */
.spells {
    display: flex;
    flex-direction: row;
}

.spells .spell {
    margin-right: 5px;
}

.spell {
    position: relative;

    /* background: -moz-linear-gradient(top left, #e8c17d 0%, #705424 100%);
    background: -webkit-linear-gradient(top left, #e8c17d 0%, #705424 100%);
    background: linear-gradient(to bottom right, #e8c17d 0%, #705424 100%); */
    background: #aaa6;
    padding: 2px;

    width: 3em;
    height: 3em;
}

.spell:hover {
    /* border: 2px solid #ddd !important; */
    background: #eee !important;
    cursor: pointer;
}

.spell img {
    width: 100%;
    height: 100%;
}

.spell.small {
    width: 2em !important;
    height: 2em !important;
}

.spell .hotKey {
    position: absolute;
    bottom: -5px;
    right: -5px;
    color: #e8c17d;
    font-size: .9em;
    font-weight: bold;
    z-index: 10;

    /* text shadow */
    text-shadow: #000 1px 0 10px;
}

.cooldown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cooldown p {
    color: #eee;
    text-align: center;
    font-weight: bold;
}

.spell.in-cooldown .cooldown {
    opacity: 0.7;
    transition: none;
}

.spell .cooldown-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #111d;
    transform-origin: bottom;
    border-top: 2px solid #eee;
}

.spell.in-cooldown img {
    filter: grayscale(100%);
}

/* Spell info */
.spell-info {
    position: fixed;
    padding: 10px;
    background-color: #111;
    box-shadow: 0px 0px 10px 0px #999b;
    color: #eee;
    font-size: 1em;
    max-width: 300px;
    pointer-events: none;

    transition: all .08s ease-in;
    transform: translateY(-100%) translateX(-50%);

    z-index: 100;
}

.spell-info .header,
.spell-info .header>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spell-info img {
    width: 50px;
    margin-right: 10px;
    border: 2px solid #9999;
}

.spell-info h4 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.spell-info span {
    margin: 0;
    padding: 0;
    margin-left: 5px;
    font-weight: bold;
    color: #e8c17d;
}

.spell-info .body {
    margin-top: 10px;
    color: #eee;
}

.spell-info .body span {
    /* font-weight: bold; */
    /* font-weight: normal; */
    font-style: italic;
    padding: 0;
    margin: 0;
}

.spell-info .body .damage {
    color: #dd5b5b;
}

.spell-info .body .buff {
    color: #88f;
}

.spell-info .body .time {
    color: #c1ffb6;
}

/* =============== Healthbar =============== */
.health-bar {
    margin-top: 10px;
    text-align: center;
    color: #eee;
}

.health-bar .bar {
    height: 15px;
    width: 100%;
    position: relative;
}

.health-bar .bar div {
    transition: width 0.1s ease;
    height: 100%;
}

.health-bar .bar p {
    margin: 0;
    padding: 0;
    font-size: .8em;
    line-height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

/* =============== Buffs =============== */
.buffs {
    position: absolute;
    top: -3px;
    transform: translateY(-100%);
    display: flex;
    flex-direction: row;
}

.buffs .buff {
    width: 35px;
    height: 35px;
    background-color: #1119;
    position: relative;
}

.buffs .buff img {
    width: 100%;
    height: 100%;
}

.buffs .buff span {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.8em;
    color: #eee;
    background-color: #111e;
    padding: 0 5px;
}

/* ===================== Spell Picker ===================== */
.spell-picker {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111;
    border-radius: 5px;
    border: solid 2px #fff3;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 1000px;
    max-height: 80vh;
    overflow-y: auto;
}

.spell-picker .title {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    color: #eee;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
}

.spell-picker .list {}

.spell-picker .spell {
    margin: 2px;
    display: inline-block;
}

.spell-picker .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    border: none;
    background-color: #ddd2;
}

.spell-picker .close-btn:hover {
    background-color: #b50000;
}

/* ====================== group ====================== */
.spell-picker .group {
    display: inline-block;
    border: 1px solid #fff3;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    transition: all 0.1s ease;
}

.spell-picker .group:hover {
    transform: translateY(-5px);
    border: 1px solid #eee;
}

.spell-picker .group-header {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 5px;
}

.spell-picker .group-header img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    background-color: #fff5;
    border-radius: 50%;
}

.spell-picker .group-header p {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #ddd;
}

.spell-picker .group:hover .group-header p {
    color: #eee;
}