#InGameHUD {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    display: none;
}

/* ============================ Bottom HUD ============================  */
.bottom-HUD {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    min-width: 100px;
    /* height: 100px; */
    padding: 5px;
    margin-bottom: 10px;
    background-color: #111c;
    border-radius: 5px;
    border-top-left-radius: 50px;
    border: solid 2px #fff3;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.bottom-HUD .champion-avatar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #aaa;
}

.champion-avatar {
    position: relative;
}

.champion-avatar .revive-counter {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1119;
    text-align: center;
    line-height: 80px;

    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.champion-details {
    margin-left: 10px;
}

/* =============== Spells =============== */
.spells {
    display: flex;
    flex-direction: row;
}

.spells .spell {
    margin-right: 5px;
    position: relative;
    border: 2px solid #aaa6;

    width: 50px;
    height: 50px;
}

.spell:hover {
    border: 2px solid #ddd !important;
    cursor: pointer;
}

.spells .spell img {
    width: 100%;
    height: 100%;
}

.spell.small {
    width: 35px !important;
    height: 35px !important;
}

.spell .hotKey {
    position: absolute;
    bottom: -5px;
    right: -5px;
    color: #eee;
    font-size: .9em;
    font-weight: bold;
    z-index: 10;
}

.cooldown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cooldown p {
    color: white;
    text-align: center;
    font-weight: bold;
}

.spell.in-cooldown .cooldown {
    opacity: 0.7;
    transition: none;
}

.spell .cooldown-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #111d;
    transform-origin: bottom;
    border-top: 2px solid white;
}

.spell.in-cooldown img {
    filter: grayscale(100%);
}

/* Spell info */
.spell .spell-info {
    position: absolute;
    padding: 10px;
    background-color: #111d;
    box-shadow: 0px 0px 10px 0px #999b;
    z-index: 10;
    color: #eee;
    font-size: 1em;
    width: 200px;
    top: 0;

    opacity: 0;
    transform: translateY(-90%) scaleZ(0);
    transition: all .05s ease-out;
    pointer-events: none;
}

.spell:hover .spell-info {
    opacity: 1;
    transform: translateY(-100%);
    transition: all .08s ease-in;
}

.spell .spell-info h4 {
    font-size: 1em;
    margin: 0;
}

.spell .spell-info p {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

/* =============== Healthbar =============== */
.health-bar {
    margin-top: 10px;
    text-align: center;
    color: white;
}

.health-bar .bar {
    height: 15px;
    width: 100%;
    position: relative;
}

.health-bar .bar div {
    transition: width 0.1s ease;
    height: 100%;
}

.health-bar .bar p {
    margin: 0;
    padding: 0;
    font-size: .8em;
    line-height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

/* =============== Buffs =============== */
.buffs {
    position: absolute;
    top: -3px;
    transform: translateY(-100%);
    display: flex;
    flex-direction: row;
}

.buffs .buff {
    width: 35px;
    height: 35px;
    background-color: #1119;
    position: relative;
}

.buffs .buff img {
    width: 100%;
    height: 100%;
}

.buffs .buff span {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.8em;
    color: white;
    background-color: #111e;
    padding: 0 5px;
}

/* ===================== Spell Picker ===================== */
.spell-picker {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111c;
    border-radius: 5px;
    border: solid 2px #fff3;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.spell-picker .spell {
    position: relative;
}

.spell-picker .title {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 1.5em;
}

.spell-picker .list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 500px;
}

.spell-picker .spell {
    margin: 5px;
    border: 2px solid #aaa6;
}

.spell-search-box {
    margin: 10px 0;
    padding: 5px;
    background-color: #111c;
    border-radius: 5px;
    border: solid 2px #fff3;
    color: white;
    align-self: center;
}

.spell-picker .not-found {
    color: white;
    background-color: #a32e19;
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
}

.spell-picker .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    border: none;
    background-color: #555;
}

.spell-picker .close-btn:hover {
    background-color: #777;
}